.nav {
    background-color: rgb(255, 255, 255);
    padding: 26px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.menu{
    display: flex;
    list-style: none;
    justify-content: flex-end;   
}
.footer__menu{
    display: flex;
    list-style: none;
    justify-content: space-between;   
}
.menu li{
    margin: 20px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.footer__menu li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: solid 1px rgb(177, 177, 177);
    width: 25%;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.div__1{
    background-image: url(./img/logo.png);
    align-items: center;
}