*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.body{
    font-family: sans-serif;
}

.nav {
    background-color: rgb(255, 255, 255);
    padding: 26px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.menu{
    display: flex;
    list-style: none;
    justify-content: flex-end;   
}
.footer__menu{
    display: flex;
    list-style: none;
    justify-content: space-between;   
}
.menu li{
    margin: 20px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.footer__menu li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: solid 1px rgb(177, 177, 177);
    width: 25%;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    background-image: url(./img/logo.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section li{
    list-style: none;
}

.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__container{
    width: 100%;
}

.slider__item{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section{
    background-color: blue;
}
.section ul{
    width: 100%;
}
.section__item{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__item img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    object-fit: cover;
    z-index: 1;
}
.section__item-text--contrast{
    color: black;
}
.section__item-text{
    z-index: 6;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.section__item-text h3{
    font-size: 3em;
}
.newsletter {
    padding: 40px;
}

.footer__info li {
    list-style: none;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer__info--item {
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}